{% include 'nav_bar.html' %}
<div class="main">
{% block content %}

<div class="">
		<div class="mr-sm-2 mb-2 col-sm-8" style="margin: 10px;">
			<form action="{{ url_for('editPenDrive',pdccid=pdccid,pdpdname=pendrivedetails.pdusername)}}" method="POST">
				<div class="panel panel-info">
				  <div class="panel-heading">Edit PenDrive Details</div>
				  <div class="panel-body">
				  <div class="form-group">
					  	<label class="text-primary" for="pdusername">Enter pendrive Name:
						</label>
					    <input type="name" class="form-control" name="pdusername" 
						value="{{pendrivedetails.pdusername}}">
					  </div>
					  <div class="form-group">
					  	<label class="text-primary" for="number">
						Enter no. of drives:</label>
					    <input type="text" class="form-control" name="drives_number" 
						value="{{pendrivedetails.drives_number}}">
					  </div>
					  <div class="form-group">
					  	<label class="text-primary" for="color">Enter pendrive capacity
						:</label>
					    <input type="text" class="form-control" name="item_capacity" 
						value="{{pendrivedetails.item_capacity}}">
					  </div>
					  <div class="text-primary" class="form-group">
					  	<label for="cc">Enter drive name:</label>
					    <input type="text" class="form-control" name="drive_name" 
						value="{{pendrivedetails.drive_name}}">
					  </div>
					  <div class="form-group">
					  	<label class="text-primary" for="pdtype">Enter Pendrive color
						</label>
					    <input type="text" class="form-control" name="item_color" 
						value="{{pendrivedetails.item_color}}">
					  </div>
					  <div class="form-group">
					  	<label class="text-primary" for="pdtype">Enter transfer speed:</label>
					    <input type="text" class="form-control" name="transferspeed"
						value="{{pendrivedetails.transferspeed}}">
					  </div>
					  <div class="form-group">
					  	<label class="text-primary" for="pdtype">Enter pendrive cost:</label>
					    <input type="text" class="form-control" name="item_cost"
						value="{{pendrivedetails.item_cost}}">
					  </div>
					  <div class="form-group">
					  	<label class="text-primary" for="pdtype">Enter pendrive warranty:</label>
					    <input type="text" class="form-control" name="warranty"
						value="{{pendrivedetails.warranty}}">
					  </div>
					  			  
				  	
					  </div>					  
				  </div> 
				  <div class="panel-footer text-center"><input type="submit" class="btn btn-primary" value="Edit"></div>
				</div>
				</form>
			</div>
</div>
{% endblock content %}